{% include 'header.html'%}

<h2> Enkeltbestilling nr: {{ bestid }}</h2>

<table class="table table-bordered table-striped">
    <thead style="background-color: #70db70;">
        <tr>
            <th class="col-md-1">VareID</th>
            <th class="col-md-2">Gruppe</th>
            <th class="col-md-2">Merke</th>
            <th class="col-md-4">Modell</th>
            <th class="col-md-2">Pris</th> 
            <th class="col-md-1">Antall</th> 
        </tr>
    </thead>
    <tbody>
        {% for i in range(0, tabell|length) %}
            <tr style="background-color: #fff">
            {% for j in range(0, tabell[i]|length) %}
                <td>
                    {{ tabell[i][j] }}
                </td>
            {% endfor %}
                <td>
                {{ antall[i] }}
                </td>
            </tr> 
        {% endfor %}
    </tbody>
</table>

<div class="row">
    <button class="btn btn-success"><a href="{{ url_for('bestilling_liste') }} ">TILBAKE</a></button>
    <button class="btn btn-danger" onClick="deleteBestilling({{ bestid }})">SLETT</button>

<script type="text/javascript">

    var selected_bestID = '';

    function deleteBestilling(id) {
        console.log(id);
        selected_bestID = String(id).split("del")[0];
        console.log(selected_bestID);
        $.getJSON('/postdeletebest?ID='+selected_bestID, function(data){
            console.log("You recieved " + data.result)
            if (data.result === 'success') {
                window.location.replace('/bestliste');
            };
        });
    };

</script>

{% include 'footer.html'%}