{% include 'header.html'%}

<h2> Bestilling Nr: {{ bestid }}</h2>

<table class="table table-bordered table-striped">
    <thead style="background-color: #70db70;">
        <tr>
            <th class="col-md-1">VareID</th>
            <th class="col-md-2">Gruppe</th>
            <th class="col-md-2">Merke</th>
            <th class="col-md-4">Modell</th>
            <th class="col-md-2">Pris</th> 
            <th class="col-md-1">Antall</th> 
        </tr>
    </thead>
    <tbody>
        {% for i in range(0, tabell|length) %}
            <tr style="background-color: #fff">
            {% for j in range(0, tabell[i]|length) %}
                <td>
                    {{ tabell[i][j] }}
                </td>
            {% endfor %}
                <td>
                {{ antall[i] }}
                </td>
            </tr> 
        {% endfor %}
    </tbody>
</table>

<form id="notisform" rowspan="3" action="/postnotater" method="post">

    <label class="col-md-4 control-label" for="textarea">Notat butikk</label>
    <div class="col-md-10">                     
        <textarea class="form-control" id="notatbutikk" rowspan="3" name="notatbutikk">{{ notater[0][0] }}</textarea>
    </div>
    <label class="col-md-4 control-label" for="textarea">Notat admin</label>
    <div class="col-md-10">                     
        <textarea class="form-control" {% if session['brukernavn'] == 'butikk' %} readonly="readonly" {% endif %} id="notatadmin" rowspan="3" name="notatadmin">{{ notater[0][1] }}</textarea>
    </div>

    <div class="col-md-4" style="margin: 10pt;">
        <button form="notisform" type="submit" name="submit" value="{{ bestid }}" class="btn btn-primary">LAGRE</button>
    </div>

</form>


<div class="row">
    <button class="btn btn-success"><a href="{{ url_for('bestilling_liste') }} ">TILBAKE</a></button>
    {% if session['brukernavn'] == 'admin' %}
    <button class="btn btn-danger" onClick="deleteBestilling({{ bestid }})">SLETT</button>
    {% endif %}

<script type="text/javascript">

    var selected_bestID = '';

    function deleteBestilling(id) {
        selected_bestID = String(id).split("del")[0];
        $.getJSON('/postdeletebest?ID='+selected_bestID, function(data){
            console.log("You recieved " + data.result)
            if (data.result === 'success') {
                window.location.replace('/bestliste');
            };
        });
    };

</script>

{% include 'footer.html'%}