/*LOGIN stylesheet*/
html, body {font-family: 'Roboto Condensed', sans-serif;}


#bigwindow {   
         background-color: #333333;
               min-height: 100%; 
                  display: flex; 
           flex-direction: column; 
          justify-content: space-around;
        }

#hugeheader {color: #666666;
        text-align: center;
        font-size: 10rem;}

#loginbox {
               display: flex;
       justify-content: center; 
        flex-direction: row; 
            text-align: center;
        }

#footererror {
         display: flex;
  flex-direction: row;
 justify-content: center;
      text-align: center!important; 
           color: red!important;
}