/* CSS stylesheet */

html, body {font-family: 'Roboto Condensed', sans-serif; min-height: 100vh;}
body {background-color: #333333;}
header {margin: 20pt;}

h1 {text-decoration: none;}
.container {border: 1pt solid black; background-color: #d9d9d9; min-height: 50vh;}
.form-horizontal {margin-left: 5%; margin-bottom: 30pt;}
#main {margin: 30pt 15pt 70pt 15pt; min-height: 50vh;}
#nav {border-bottom: 1pt solid black;}

a { text-decoration: none; font-size: 14pt; color: black;}
a:hover {text-decoration: none; color: black;}



/*---------- VARER - APP ------------ */
/* ordre_liste.html */
#nyvarebutton {background-color: #c0392b; color: #fff; margin-top: 10pt; margin-bottom: 20pt;}
#sokeform {margin: 45px 0px 0px 50px; }
#sokeresult {margin-bottom: 20px; font-size: 17px;}
.sorteringsknapper {display: flex; justify-content: space-between; margin: 20px 0px 0px 40px;}
.sorteringsknapper button {flex: 0 1 60px; font-size: 16px;}
.enkellink {text-align: center;}
.enkellink:hover {border-left: 3px solid #0066ff;}
.emptymessage {height: 300px; background-color: #a6a6a6; text-align: center;}
.emptymessage p {margin-top: 120px; font-size: 40px; color: #8c8c8c;}
#homebtn {background-color: #cc0099; color: #fff;}
#tabelloverskrift {display: flex;}
#tabelloverskrift h3 {flex: 0 1 100px; padding-right: 10px;}
#statuspoint {border-radius: 50%; width: 20px; height: 20px; align-self: center; margin: 10px 0px 0px 0px;}

/* ordre_ny.html*/
.eventlinje:hover {cursor: pointer;}
.scrolltable {overflow:scroll; height:400pt;}

#vareordrekort {border-bottom: 1pt solid #ccc; min-height: 200pt; background-color: #fff; padding: 15px; border-radius: 15px; box-shadow:5px 5px 5px 0px rgba(22,22,22,0.4);}
#prislappdiv {background-color: #f2f2f2; padding-top: 3pt; padding-right: 10pt;}
#varetabellkort {background-color: #fff; padding: 15px; border-radius: 15px;  box-shadow:5px 5px 5px 0px rgba(22,22,22,0.4); margin-top: 50px; margin-bottom: 50px;}
#sokeresult  {background-color: #c0392b; color: #fff; text-align: right;}
#sokeform {padding-bottom: 20pt;}
.nykommentar {margin-top: 30px;}


/* ordre_enkel.html*/
#enkelbestilling {display: flex; flex-direction: column; flex: 1; border-bottom: 1pt solid #ccc; background-color: #fff; padding: 15px; border-radius: 15px; box-shadow:5px 5px 5px 0px rgba(22,22,22,0.4);}
#kundeinfo {margin-left: 10pt; margin-top: 10pt;}
#infoliste {list-style-type: none; font-size: 14pt; display: flex; }
#navninfo {background-color: #fff; margin: 5pt; padding: 5pt;}
#kontaktinfo {background-color: #fff; padding: 5pt; margin: 5pt;}
#signatur {background-color: #fff; padding: 5pt; margin: 5pt;}
#buttons_enkelordre {margin: 20pt 0pt 15pt; display:flex; justify-content: space-around;}



/* --------- SERVICE - APP  ----------*/
/* service_liste.html*/
#nyservicebutton {background-color: #c0392b; color: #fff; margin: 10pt 0pt 20pt;}

/* service_ny.html*/
#serviceordrekort {font-size: 12pt; border-bottom: 1pt solid #ccc; min-height: 200pt; background-color: #fff; padding: 15px; border-radius: 15px; box-shadow:5px 5px 5px 0px rgba(22,22,22,0.4);}

/* service_enkel.html*/
#lockedfield1 {background-color: #ffcccc;}
#lockedfield2 {background-color: #ffcccc;}
#buttons_enkelservice {display: flex; justify-content: space-around;}

