/* CSS stylesheet */

html, body {font-family: 'Roboto Condensed', sans-serif;}
body {background-color: #333333;}


h1 {text-decoration: none;}
.container {border: 1pt solid black; background-color: 
 #cccccc;}
.form-horizontal {margin-left: 5%; margin-bottom: 30pt;}
#main {margin: 30pt 15pt 70pt 15pt;}
#nav {border-bottom: 1pt solid black;}

a { text-decoration: none; font-size: 14pt; color: black;}
a:hover {text-decoration: none; color: black;}
header {margin: 20pt;}

/*---------- VARER - APP ------------ */
/* ordre_ny.html*/
#vareordrekort {border-bottom: 1pt solid #ccc; min-height: 200pt; background-color: #fff; padding: 15px; border-radius: 15px; box-shadow:5px 5px 5px 0px rgba(22,22,22,0.4);}
#varetabellkort {background-color: #fff; padding: 15px; border-radius: 15px;  box-shadow:5px 5px 5px 0px rgba(22,22,22,0.4); margin-top: 50px; margin-bottom: 50px;}
#sokeresult  {color: red; text-align: right;}
#sokeform {padding-bottom: 20pt;}
.eventlinje:hover {cursor: pointer;}

/* ordre_enkel.html*/
#infoliste {list-style-type: none; font-size: 14pt; display: flex; }
#navninfo {background-color: #fff; margin: 5pt; padding: 5pt;}
#kontaktinfo {background-color: #fff; padding: 5pt; margin: 5pt;}
#signatur {background-color: #fff; padding: 5pt; margin: 5pt;}


/* ordre_liste.html */
#nyordrebutton {margin-top: 10pt; margin-bottom: 20pt;}




/* --------- SERVICE - APP  ----------*/
/* service_ny.html*/
#serviceordrekort {font-size: 12pt; border-bottom: 1pt solid #ccc; min-height: 200pt; background-color: #fff; padding: 15px; border-radius: 15px; box-shadow:5px 5px 5px 0px rgba(22,22,22,0.4);}

/* service_enkel.html*/
#lockedfield1 {background-color: #ffcccc;}
#lockedfield2 {background-color: #ffcccc;}