{% include 'header.html'%}

<section id="besttabellkort" class="col-md-12">

    <h3>Bestillinger</h3>

    <table class="table table-bordered table-striped">
        <thead>
            <tr style="background-color: #70db70;">
                <th id="bestcolumn1" onClick="currentColumn(this.id)" class="col-md-1">BestID</th>
                <th id="bestcolumn2" onClick="currentColumn(this.id)" class="col-md-2">Kunde</th>
                <th id="bestcolumn3" onClick="currentColumn(this.id)" class="col-md-1">Verdi</th>
                <th id="bestcolumn4" onClick="currentColumn(this.id)" class="col-md-1">Varer</th>
                <th id="bestcolumn4" onClick="currentColumn(this.id)" class="col-md-2">Opprettet</th> 
                <th id="bestcolumn4" onClick="currentColumn(this.id)" class="col-md-2">Sist endret</th> 
                <th id="bestcolumn4" onClick="currentColumn(this.id)" class="col-md-2" style="text-align:center;">STATUS</th>
            </tr>
        </thead>
        <tbody id= "besttabell">
            <!--function populateBesttabell(tabell) {} -->
        </tbody>
    </table>
</section>

{% include 'footer.html' %}

<script>
    /* INIT - FUNCTION */
    $(document).ready(function() {
        $.getJSON('/getbestliste', function(data) {
          populateBesttabell(data.tabell);
        });  
    });

    var datetime = '';
    var dateint = 0; 
    var timejustert = '';
    var resultstring = '';

    function formatTime(datetime){
        datetime = datetime.split(":").join(" ");
        datetime = datetime.split(" ");
        dateint = parseInt(datetime[4]) + 6;
        if (dateint > 23) {
            timejustert = "0" + String(dateint - 24);
        } else {
            timejustert = String(dateint);
        };
        result = datetime[1] + ' ' +  datetime[2] + ' ' + datetime[3] + ' - ' + timejustert + ':' + datetime[5];
        return result;
    };  

    var bryter = 0;
    var div_id = '';
    var row_count = 0;
    var row_color = '';
    var row = '';
    var cell = '';
    var dato_cell = '';

    function populateBesttabell(tabell) {
        /* The general function for displaying an array of cells
            as vareliste and bestillingsliste */
        for (i=0; i < tabell.length; i++) {
            row = tabell[i];

            for (j=0; j < row.length; j++){
                cell = row[j];

                switch(bryter) {
                    case 0:
                        div_id = cell;
                        div_id = $.trim(div_id);
                        $('#besttabell').append('<tr id="' + div_id + '"></tr>');
                    
                        /* ON/OFF SWITCHBOX for the row background color*/ 
                        if (row_count % 2 === 0){
                            row_color = '#ffffff';
                        } else { row_color = '#f2f2f2';
                        };
                        $('#' + div_id).css({ 
                            'background-color' : row_color
                        });
                        row_count += 1;
                        bryter = 1;
                        break;
                    case 1:
                        $('#' + div_id).append('<td><button><a href="/viewenkelbest?ID='+div_id+'">' + div_id + '</a></button></td>');/*cell['ID']*/
                        bryter = 2;
                        $('#' + div_id).append('<td>' + cell + '</td>');  /*cell['Navn']*/
                        break;
                    case 2:
                        $('#' + div_id).append('<td>' + cell + ',-</td>'); /*cell['Verdi']*/
                        bryter = 3;
                        break;
                    case 3:
                        $('#' + div_id).append('<td>' + cell + '</td>'); /*cell['Varer']*/
                        bryter = 4;
                        break;
                    case 4:
                        dato_cell = formatTime(cell);
                        $('#' + div_id).append('<td>' + dato_cell + '</td>'); /*cell['opprettet']*/
                        bryter = 5;
                        break;
                    case 5:
                        dato_cell = formatTime(cell);
                        $('#' + div_id).append('<td>' + dato_cell + '</td>'); /*cell['sist oppdatert']*/
                        bryter = 6;
                        break;
                    case 6:
                        current = buttonArray[cell][0];
                        $('#' + div_id).append('<td class="row" style="text-align:center;">'+
                                                 '<button id="'+ div_id+'button" '+
                                                 'style="margin:auto;" type="button" ' +
                                                 '{% if session["brukernavn"] == "admin" %}onClick="cloneButton(this.id){% endif %}" ' +
                                                 'class="'+ current +'">'+ cell + '' +
                                                 '</button></td>'); /*cell['STATUS']*/ 
                        bryter = 0;
                        break;
                    };
                };
            };
        };

    var new_button = '';
    var old_button = '';
    var button_parent = '';
    var buttonArray = {'Ny': ['btn btn-danger', 'btn btn-warning', 'Bestilt'],
              'Bestilt': ['btn btn-warning','btn btn-info', 'Mottatt'],
              'Mottatt': ['btn btn-info', 'btn btn-success', 'Levert'],
              'Levert' : ['btn btn-success'] 
            }

    function cloneButton(buttonID) {
        old_button = $('#'+buttonID);

        if (old_button.text() != 'Levert') {
            button_parent = $('#'+buttonID).parent();
            new_button = $('#'+buttonID).clone();
            new_button.empty();

            old_button.attr("onClick", "changeStatus(this.id)");
            new_button.attr("id", buttonID + 'newStatus');
            new_button.attr("onClick", "changeStatus(this.id)");
            new_button.attr("class", buttonArray[old_button.text()][1]);
            new_button.append(buttonArray[old_button.text()][2]);
            button_parent.append(new_button);
        } else {
            return 0;
        } 
    };

    var final_button = '';
    var newID = '';
    var new_status = '';
    var bestillingID = '';

    function changeStatus(buttonID){
        final_button = $('#' + buttonID);

        if (buttonID.indexOf('newStatus') > -1){
            new_status = final_button.text();
            bestillingID = buttonID.split('b')[0];

            $.post('/poststatus', {
            'status': String(new_status),
            'id': String(bestillingID)
            }, function(data){
                console.log('you recieved ' + data.result);

                if (data.result === 'success') {
                    final_button.siblings().remove();
                    final_button.attr('onClick', 'cloneButton(this.id)');
                    newID = buttonID.split('newStat')[0];
                    final_button.attr('id', newID);

                    window.location.replace("/bestliste");
                };
            });
        } else {
            console.log('Ny status er: ' +  final_button.text())
            final_button.siblings().remove();
            final_button.attr('onClick', 'cloneButton(this.id)');
        };      
    };

</script>