{% include 'header.html'%}

<script type=text/javascript language="javascript">

    $(document).ready(function() {

        $.getJSON('/getvareutvalg', function(data) {

                var streng = data.liste;
                var liste = streng.split(",");


                $('#tabell').append('<tr>');

                for (i=1; i < liste.length + 1; i++) {

                 if (i % 4 != 0) {
                    $('#tabell').append('<td>' + liste[i-1] + '</td>');

                  } else { 
                    $('#tabell').append('<td>' + liste[i-1] + '</td>');
                    $('#tabell').append('</tr>');
                    $('#tabell').append('<tr>');
                  }
                }
                
                 
               });
   
        $('#tabell').append('</tr>');
}); 


</script>

<table class="table">
<thead>
  <tr>
    <th class="col-md-2">Artnr</th>
    <th class="col-md-2">Merke</th>
    <th class="col-md-6">Modell</th>
    <th class="col-md-2">Utsalgspris</th>   
  </tr>
</thead>
<tbody id= "tabell">
   <!-- javascript runs here -->
</tbody>
</table>
<button id='target'>Add varer</button>
  