<html>
<head>
    <!--GoogleFontsAPI -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <!-- BOOTSTRAP -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- LOCAL CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
<body id=bigwindow class="jumbotron">

    <header id=hugeheader>
    <h1> STEREO </h1>
    <h2> VAREFLYT </h2>
    </header>

    <div id="loginbox"> 
        <form action="/login" method="post" class="form-signin col-xs-10 col-sm-4  col-lg-2">
            <label for="inputEmail" class="sr-only">Brukernavn</label>
                <input type="name" id="inputUsernam" class="form-control" placeholder="Brukernavn" required autofocus>
            <label for="inputPassword" class="sr-only">Passord</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Passord" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
        </form>
    </div>

    <footer>
        <div id="footererror">   
            <h3>{{ error }}</h3>
        </div>
    </footer>
</body>
</body>
</html>