{% include 'header.html' %}

<form class="form-horizontal" action="/nyordre" method="post">

    <!-- Form Name -->
    <legend>Fylles ut av butikk</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="varenavn">Varenavn</label>  
      <div class="col-md-5">
      <input id="textinput" name="varenavn" type="text" placeholder="Søk" class="form-control input-md" required="">
        
      </div>
    </div>

      <!--Submit-button -->
  <div class="form-group">
      <div class="col-md-4">
        <input type="submit" name="submit" value="Submit" class="btn btn-success">
      </div>
  </div>

</form>