

{% include 'header.html'%}



    <!-- END OF HEADER.HTML -->
        <div class="container col-md-12">
            <h3>Informasjon om UPLOAD - VARELISTE</h3>
            <p style="font-size: 16pt;">
                Når du skal laste opp filen, så er det viktig å følge punktene som er satt under. 
                <ul style="font-size: 14pt;">
                    <li>Filen som lastes opp må være eksportert fra excel i UNICODE - format. (*tabulatordelt .txt - fil).</li>
                    <li>For at varelisten skal passe inn i databasen, så må de første 12 kolonnene være nøyaktig lik som vist under. </li>
                </ul>
            </p>
            <br/>
            <br/>
            <table>
                <thead>
                    <tr style="background-color: #70db70; font-size: 12pt;">
                        <th class="col-md-1">Varenr</th>
                        <th class="col-md-1">Leverandør</th>
                        <th class="col-md-1">Artnr</th>
                        <th class="col-md-1">Merke</th>
                        <th class="col-md-1">Modell</th>
                        <th class="col-md-1">Varebeskrivelse</th>
                        <th class="col-md-1">Varegruppe</th>
                        <th class="col-md-1">Undergruppe</th>
                        <th class="col-md-1">MVA</th>
                        <th class="col-md-1">Nettopris</th>
                        <th class="col-md-1">Utsalgspris</th>
                        <th class="col-md-1">DG</th>
                    </tr>
                </thead>
            </table>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>



{% include 'footer.html'%}