{% include 'header.html'%}

    
    <section id="enkelbestilling">

        <div id="kundeinfo" class="row">
            <h2> Vareordre Nr: {{ bestid }}</h2>
            <h3> Status: {{ status }}</h3>
            <br/>
                <ul id="infoliste" class="col-md-10">
                    <li id="navninfo">  Kundenavn: {{ kundeinfo[0] }}</li>
                    <li id="kontaktinfo"> Kontakt:  {{ kundeinfo[1] }}</li>
                    <li id="signatur"> Signatur: {{ sign }} </li>
                </ul>
        </div>

        <table class="table table-bordered table-striped">
            <thead style="background-color: #c0392b; color: #fff">
                <tr>
                    <th class="col-md-1">VareID</th>
                    <th class="col-md-2">Leverandør</th>
                    <th class="col-md-1">LevArtnr</th>
                    <th class="col-md-1">Merke</th>
                    <th class="col-md-3">Modell</th>
                    <th class="col-md-1">Pris</th> 
                    <th class="col-md-1">Antall</th> 
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, tabell|length) %}
                    <tr style="background-color: #fff">

                    {% for j in range(0, tabell[i]|length) %}
                        <td>
                            {{ tabell[i][j] }}
                        </td>
                    {% endfor %}
                        <td>
                        {{ antall[i] }}
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>

        <form id="notisform" rowspan="3" action="/postnotater" method="post">

            <label class="col-md-4 control-label" for="textarea">Kommentar butikk</label>
            <div class="col-md-10">                     
                <textarea rows="6" class="form-control" id="notatbutikk" rowspan="3" name="notatbutikk">{{ notater[0] }}</textarea>
            </div>
            <label class="col-md-4 control-label" for="textarea">Kommentar admin</label>
            <div class="col-md-10">       

                <textarea rows="6" class="form-control" 
                    {% if session['brukernavn'] == 'butikk' %} 
                         readonly="readonly" style="background-color: #ffcccc;"
                    {% endif %}
                          id="notatadmin" rowspan="3" name="notatadmin">{{ notater[1] }}</textarea>
            </div>

            <div id="buttons_enkelordre" class="col-md-12">
                    <button form="notisform" type="submit" name="submit" value="{{ bestid }}" class="btn btn-success">LAGRE</button>

                {% if session['brukernavn'] == 'admin' %}
                    <button class="btn btn-danger" onClick="deleteVareordre({{ bestid }})">SLETT</button>
                {% elif session['brukernavn'] == 'butikk' and status == 'Ny' %} 
                    <button class="btn btn-danger" onClick="deleteVareordre({{ bestid }})">SLETT</button>
                {% endif %}
            </div>
        </form>

    </section>

<script type="text/javascript">

    var selected_bestID = '';

    function deleteVareordre(id) {
        selected_bestID = String(id).split("del")[0];
        $.getJSON('/postdeleteordre?ID='+selected_bestID, function(data){
            console.log("You recieved " + data.result)
            if (data.result === 'success') {
                window.location.replace('/varer');
            };
        });
    };

</script>

{% include 'footer.html'%}