<!--  På denne siden vises en liste med alle ordrene -->
<!--   Ordrene er sortert, først etter om ordren er ny, bestilt, mottat, levert -->
         <!-- Deretter, så sorteres de etter når de ble opprettet.-->

{% include 'header.html'%}

    <form action="{{ url_for('nyordre')}}" method="get">
        <button id="nyvarebutton" class="btn col-md-12" type="submit" name="pick" value="vare">
                <h4>Ny vareordre</h4>
        </button>  
    </form>

    <div class="col-md-11">
        <div class="sorteringsknapper">
            <button id="homebtn" class="btn" name="Ulest">Ulest</button>
            <button class="btn btn-primary" name="Alle">Alle</button>
            <button class="btn btn-danger" name="Ny">Ny</button>
            <button class="btn btn-warning" name="Bestilt">Bestilt</button>
            <button class="btn btn-info" name="Mottatt">Mottatt</button>
            <button class="btn btn-success" name="Levert">Levert</button>
            <button class="btn btn-default" name="Kansellert">Kansellert</button>
        </div>
    </div>

    <div id=sokeform class="col-md-11">
        <label class="col-md-1 control-label" for="searchinput">Søk</label>
        <div class="col-md-6">
            <input id="sokefelt" name="searchvare" type="search" placeholder="OrdreID / Kunde / Verdi / Status / Kontaktinfo / Signatur / Kommentarer" class="form-control input-md" onkeyup="searchOrdreliste(this.value)">
        </div>
        <button id="sokeresult" class="btn"></button>
    </div>

    <section id="ordretabellkort" class="col-md-12">

    	<div id="tabelloverskrift">
        	<h3>Vareordre</h3>
    	</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr style="background-color: #c0392b; color: #fff">
                    <th class="col-md-1">OrdreID</th>
                    <th class="col-md-2">Kunde</th>
                    <th class="col-md-1">Verdi</th>
                    <th class="col-md-1">Varer</th>
                    <th class="col-md-2">Opprettet</th> 
                    <th class="col-md-2">Sist endret</th> 
                    <th class="col-md-2" style="text-align:center;">STATUS</th>
                </tr>
            </thead>
            <tbody id="ordretabell">
                <!--function populateOrdretabell(tabell) {} -->
            </tbody>
        </table>



    </section>


{% include 'footer.html' %}


<script>
	
	// The rows that are imported from vareordre(MySQLtable) are: 0,1,5,4,7,6,11,12,16,2,15
		/* ------------------
			0 = ID
			1 = Kundenavn
			5 = Verdi
			4 = Antall
			7 = Ny
			6 = sist_oppdatert
			11 = status
			12 = StatusNr
			16 = Ulest
			2 = Kontakt
			15 = Signatur
			13 = Notat
			14 = NotatAdmin
		/* -------------------
			TOTAL 13 columns
	---------------------------------------------------------------------------*/
    var vareordretabell = {{ tabell | safe }};

    /* Mulig sikkerhetshull under - undersøk*/
    var current_user = '{{ session["brukernavn"] }}'
    var opposite_user = {
    	'admin': 'butikk',
    	'butikk': 'admin'
    }

    /* ----------------- HIDDEN ROW CLASS --------------------------------------------*/

    function populateHiddenrow(ID) {
        /*Fill the structure with relevant data when row is displayed.*/
        $.getJSON('/enkelvareordre?ID='+ ID + '&type=JSON', function(data) {
            
            ordre_varer = data.varer;
            for (i=0; i < ordre_varer.length; i++) {
                enkelrow = ordre_varer[i];

                $('#hidden1'+ID).append('<p>'+enkelrow[1]+'</p>');
                $('#hidden2'+ID).append('<div style="white-space:pre; display:flex; justify-content:center;">'+
                                        '<p> ' + enkelrow[3] + ' </p>'+
                                        '<p>   -    ' + enkelrow[2] + ' </p>'+  
                                        '<p>   -    ' + enkelrow[4] + ' </p>'+
                                        '<p>   -    ' + enkelrow[5] +' kr </p>' +
                                        '<p>   x  ' + data.antall[i] + '</p>' + 
                                        '</div>');
            };

            if (data.notater[0] != null && data.notater[0] != '' && data.notater[0] != 'None') {
                $('#hidden1'+ID).append('<p></p>');
                $('#hidden2'+ID).append('<p>Butikk: '+data.notater[0]+'</p>');
            };
            if (data.notater[1] != null && data.notater[1] != '' && data.notater[1] != 'None') {
                $('#hidden1'+ID).append('<p></p>');
                $('#hidden2'+ID).append('<p>Admin: '+data.notater[1]+'</p>');
            };

            var vitalInfo = generalSearch(vareordretabell, ID, 0, true)[0].slice(9,11);
            //console.log(vitalInfo);
            $('#hidden2'+ID).append('<p>Kundekontakt: '+ vitalInfo[0] +'</p>' +
            						'<p>Signatur: '+ vitalInfo[1] + '</p>');
        });
    };


    var enkelrow;
    var openRows = 0;
    var maxopenRows = 0;
    var hide_orShow = 'in';

    function structHiddenrow(ID) {

        function voidStructure() {
            /*Create the hidden row structure.*/
            $('#ordretabell').append('<tr id="hidden'+ID+'" class="collapse '+hide_orShow+'">'+
                                    '<td colspan=3>'+
                                    '<div id="hidden1'+ID+'" class="hiddenblock" style="display:flex; flex-direction: column; align-items: center;"></div>'+
                                    '</td>'+
                                    '<td colspan=4>' +
                                    '<div id="hidden2'+ID+'" class="hiddenblock" style="display:flex; flex-direction: column; align-items:flex-start;"></div>' +
                                    '</td>' +
                                    '</tr>');

        };

        openRows = 0;
        hide_orShow = 'in';

        if (openRows < maxopenRows) {
            voidStructure();
            populateHiddenrow(ID);
            openRows += 1;
        } else if (openRows == maxopenRows) {
            hide_orShow = 'out';
            voidStructure();
        } else {
            voidStructure();
        };

    };


    function showhideRow(ID) {
        var hiddenID = '#hidden'+ID;
        if($(hiddenID).hasClass("out")) {
            populateHiddenrow(ID);
            $(hiddenID).addClass("in");
            $(hiddenID).removeClass("out");
            
        } else {
            document.getElementById('hidden1'+ID).innerHTML = '';
            document.getElementById('hidden2'+ID).innerHTML = '';
            $(hiddenID).addClass("out");
            $(hiddenID).removeClass("in");

            /* Merk ordren som lest dersom riktig bruker.*/
            var status_lest = (generalSearch(vareordretabell, ID, 0, true))[0][8];
            //console.log(ID + '---> ' + status_lest+ ' == ' + current_user);
            if (status_lest === current_user) {

                $.post('/markasread', {'id': ID, 'lest': 'lest'}, function(data){

                    //console.log(data.result + ' Vareordren er lest av: ' + current_user);
                    window.location.replace('/varer');
                });
            };
        };

    };
    /* --------------------------------------------------------------------------------*/

	/* ---------------------------  BUTTON LOGIC CLASS ------------------------------- */

    var new_button = '';
    var old_button = '';
    var button_parent = '';
    var buttonArray = {'Ny': ['btn btn-danger', 'btn btn-warning', 'Bestilt'],
              'Bestilt': ['btn btn-warning','btn btn-info', 'Mottatt'],
              'Mottatt': ['btn btn-info', 'btn btn-success', 'Levert'],
              'Levert' : ['btn btn-success'],
              'Kansellert' : ['btn btn-default'] 
            }

    var final_button = '';
    var newID = '';
    var new_status = '';
    var bestillingID = '';

    function cloneButton(buttonID) {
        old_button = $('#'+buttonID);

        if (old_button.text() != 'Levert' && old_button.text() != 'Kansellert') {
            button_parent = $('#'+buttonID).parent();
            new_button = $('#'+buttonID).clone();
            new_button.empty();

            old_button.attr("onClick", "changeStatus(this.id)");
            new_button.attr("id", buttonID + 'newStatus');
            new_button.attr("onClick", "changeStatus(this.id)");
            new_button.attr("class", buttonArray[old_button.text()][1]);
            new_button.append(buttonArray[old_button.text()][2]);
            button_parent.append(new_button);
        } else {
            return 0;
        } 
    };

    function changeStatus(buttonID){
        final_button = $('#' + buttonID);

        if (buttonID.indexOf('newStatus') > -1){
            new_status = final_button.text();
            bestillingID = buttonID.split('b')[0];

            $.post('/poststatus', {
                'status': String(new_status),
                'id': String(bestillingID),
                'ulest': opposite_user[current_user]
                }, function(data){

                if (data.result === 'success') {
                    final_button.siblings().remove();
                    final_button.attr('onClick', 'cloneButton(this.id)');
                    newID = buttonID.split('newStat')[0];
                    final_button.attr('id', newID);

                    window.location.replace("/varer");
                };
            });
        } else {
            console.log('Ny status er: ' +  final_button.text())
            final_button.siblings().remove();
            final_button.attr('onClick', 'cloneButton(this.id)');
        };      
	};
	/*------------------------------------------------------------------------------*/

    /*---------------------------- MAIN TABLE CLASS -------------------------------*/


    var bryter = 0;
    var div_id = '';
    var row_count = 0;
    var row_color = '';
    var row = '';
    var cell = '';
    var dato_cell = '';

    var best_columns = '0,1,5,4,7,6,11';

    function populateOrdretabell(tabell) {
        /* The general function for displaying an array of cells
            as vareliste and bestillingsliste */
        for (i=0; i < tabell.length; i++) {
            row = tabell[i];

            for (j=0; j < 7; j++){
            	// The number 7 is important. It decides how many columns i displayed.
                cell = row[j];

                switch(bryter) {
                    case 0:
                        div_id = cell;
                        div_id = $.trim(div_id);
                        $('#ordretabell').append('<tr id="' + div_id + '"></tr>');
                        structHiddenrow(div_id);

                        /* ON/OFF SWITCHBOX for the row background color*/ 
                        if (row_count % 2 === 0){
                            row_color = '#ffffff';
                        } else { row_color = '#e6e6e6';
                        };
                        $('#' + div_id).css({ 
                            'background-color' : row_color
                        });
                        $('#hidden' + div_id).css({ 
                            'background-color' : row_color
                        });
                        row_count += 1;
                        bryter = 1;
                        break;
                    case 1:
                        $('#' + div_id).append('<td class="enkellink"><a href="/enkelvareordre?ID='+div_id+'">' + div_id + '</a></td>');/*cell['ID']*/
                        bryter = 2;
                        $('#' + div_id).append('<td>' + cell + '</td>');  /*cell['Navn']*/
                        break;
                    case 2:
                        $('#' + div_id).append('<td>' + cell + ',-</td>'); /*cell['Verdi']*/
                        bryter = 3;
                        break;
                    case 3:
                        $('#' + div_id).append('<td><button class="btn" '+
                                                'onClick=showhideRow("'+div_id+'")>' + cell + 
                                                ' <i class="fa fa-arrow-down" aria-hidden="true"></i>' +
                                                '</button></td>'); /*cell['Varer']*/
                        bryter = 4;
                        break;
                    case 4:
                        dato_cell = formatTime(cell);
                        $('#' + div_id).append('<td>' + dato_cell + '</td>'); /*cell['opprettet']*/
                        bryter = 5;
                        break;
                    case 5:
                        dato_cell = formatTime(cell);
                        $('#' + div_id).append('<td>' + dato_cell + '</td>'); /*cell['sist oppdatert']*/
                        bryter = 6;
                        break;
                    case 6:
                        current = buttonArray[cell][0];

                        if (current_user == 'admin' || cell == 'Bestilt' || cell == 'Mottatt' ) {
                            $('#' + div_id).append('<td class="row" style="text-align:center;">'+
                                                 '<button id="'+ div_id+'button" '+
                                                 'style="margin:auto;" type="button" ' +
                                                    'onClick="cloneButton(this.id)" ' + 
                                                 'class="'+ current +'">'+ cell + '' +
                                                 '</button></td>'); /*cell['STATUS']*/ 
                        } else  {
                            $('#' + div_id).append('<td class="row" style="text-align:center;">'+
                                                 '<button id="'+ div_id+'button" '+
                                                 'style="margin:auto;" type="button" ' +
                                                 'class="'+ current +'">'+ cell + '' +
                                                 '</button></td>'); /*cell['STATUS']*/ 
                        };
                        bryter = 0;
                        break;
                    };
                };
            };
        };


    function updateTabell(tabell, maxopen=false){
    	/* Hjelpefunksjon til populateOrdretabell
    	   input er et symmetrisk 2d-array + en int maxopen
    	    som bestemmer hvor mange rader som skal vise sitt 
    	     skjulte innhold.*/

        maxopenRows = 0;
        if (maxopen) {
            maxopenRows = maxopen;
        } else if (tabell.length == 1) {
       		maxopenRows = 1;
        };

        resultString = "Viser " + tabell.length + " ordre.";
        $("#sokeresult").text(resultString);

        $("#ordretabell").empty();
        populateOrdretabell(tabell);
    };

    /* ---------------------- SEARCH LOGIC ----------------------------------*/
    var searchLength = 0;

    function searchOrdreliste(string){
    	searchedTabell = generalSearch(vareordretabell, string);
    	updateTabell(searchedTabell);
        setPointcolor(btncolors['Alle']);
    };

    /*---------------------------- INIT - CLASS ----------------------------------- */

    var btncolors = {
    	'Ulest' : '#cc0099',
    	'Alle' : '#006dcc',
    	'Ny'  : '#d43f3a',
    	'Bestilt' : '#eea236',
    	'Mottatt' : '#46b8da',
    	'Levert' : '#4cae4c',
    	'Kansellert' : '#fff'
    };


    $(document).ready(function() {

        function showUnreadRows(){
        	unreadRows = generalSearch(vareordretabell, current_user, 8)

            if (unreadRows.length > 0) {
                updateTabell(unreadRows, unreadRows.length);
            } else {
                updateTabell(unreadRows);
                $('#ordretabell').append('<tr><td class="emptymessage" colspan="7"><p>'+current_user+' har ingen uleste endringer.</p></td></tr>');
            };
        
        };

        function showAllRows(){
        	updateTabell(vareordretabell);
        };

        $("#sokeresult").click(function(){
            showAllRows();
        });

        
        $('.sorteringsknapper').children().click(function(){
        	/* Get ordreliste with specific status when button clicked */
            status = $(this).attr('name');
           	setPointcolor(btncolors[status]);
            switch(status){
            	case 'Ny': case 'Bestilt': case 'Mottatt': case 'Levert': case 'Kansellert':
            		var ordretabell_mod = deepCopy(vareordretabell);
           	 		ordretabell_mod = sortbyDate(ordretabell_mod, 5);
            		ordretabell_mod = generalSearch(ordretabell_mod, status, 6);
            		updateTabell(ordretabell_mod);
            		break;
                case 'Alle':
                    updateTabell(vareordretabell);
                    break;
                case 'Ulest':
                    window.location.replace('/varer');
                    break;
                default:
                	console.log("Something is wrong you moron!");
                	break;
            };

        });


    	// This line starts the show.
    	showUnreadRows();
    	$('#tabelloverskrift').append('<p id="statuspoint"></p>');
    	setPointcolor(btncolors['Ulest']);
    });

    /* ---------------------------------------------------------------------------*/
</script>