{% include 'header.html'%}


    <section id="vareordrekort">

        <h3> Ny vareordre </h3>
        <form class="form-horizontal" onsubmit="return false;">
            <!--Autocomplete button -->
            <div class="form-group">
                <label class="col-md-1 control-label" for="radios">Butikk</label>
                <div class="col-md-3"> 
                    <button class="btn btn-primary" onClick="autofyllButikk()">Autofyll</button>
                </div>
            </div>
            </br>
          <!-- Text input-->
            <div class="form-group">
                <label class="col-md-1 control-label" for="textinput">Navn</label>  
                <div class="col-md-2">
                    <input id="inputnavn" name="textinput" type="text" placeholder="Fornavn og Etternavn" class="form-control input-md" value="" required>
                </div>
                <label class="col-md-1 control-label" for="textinput">Telefon</label>  
                <div class="col-md-2">
                    <input id="inputtelefon" name="inputtelefon" type="text" placeholder="8 siffer" class="form-control input-md" value="">
                </div>
                <label class="col-md-1 control-label" for="textinput">Mail</label>  
                <div class="col-md-2">
                    <input id="inputmail" name="inputmail" type="text" placeholder="some@thing.com" class="form-control input-md" value="">
                </div>
                <label class="col-md-1 control-label" for="textinput">Selger</label>  
                <div class="col-md-2">
                    <select id="inputsignatur" class="form-control input-md">

                        {% if session['brukernavn'] == 'butikk' %}
                            <option value="June">June</option>
                            <option value="Robin">Robin</option>
                            <option value="Nichlas">Nichlas</option>
                        {% elif session['brukernavn'] == 'admin'%}
                            <option value="Roger">Roger</option>
                            <option value="Joakim">Joakim</option>
                        {% endif %}

                    </select>
                </div>

        
                <label class="col-md-1 control-label nykommentar" for="textinput">Kommentar</label>
                <div class="col-md-10">
                    <textarea rows="5" class="form-control nykommentar" id="inputkommentar"></textarea>
                </div>
            </div>
        </form>


        <div class="col-md-12" style="margin-bottom: 10pt; display:flex; justify-content: flex-end;">
            <div id="prislappdiv" class="col-md-2">
                <p id="prislapp">0kr</p>
            </div>
            <div class="col-md-2">
                <button id="bestillsubmit" name="bestillsubmit" class="btn btn-success" onClick="sendBestilling()">BESTILL</button>
            </div>
        </div>


        <table class="table table-bordered table-striped">
            <thead>
                <tr style="background-color: #c0392b; color: #fff;">
                    <th class="col-md-1">VareID</th>
                    <th class="col-md-1">Merke</th>
                    <th class="col-md-4">Modell</th>
                    <th class="col-md-1">Antall</th>
                    <th class="col-md-1">Pris</th>
                    <th class="col-md-1">Fjern</th>    
                </tr>
            </thead>

            <tbody id="bestillingstabell">
                <!-- function AddVare(vareID) {}-->
            </tbody> 

        </table>
            <!-- I have to do seomthing about the element below -->
            <!-- Maybe use flexbox -->

    </section>



    <section id="varetabellkort" class="col-md-12">
        <h3>Vareliste</h3>

            <!-- Search input-->
            <label class="col-md-1 control-label" for="searchinput">Søk</label>
            <div id=sokeform class="col-md-5">
                <input id="searchfield" name="searchvare" type="search" placeholder="Tekst" class="form-control input-md" onkeyup="generalSearch(this.value)">
                
            </div>
            <div class="col-md-5">
                <button id="sokeresult" class="btn"></button>
            </div>
            
        <div class="scrolltable col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr style="background-color: #c0392b; color: #fff; margin-top: 20pt;">
                        <th id="varecolumn1" class="col-md-1">VareID</th>
                        <th id="varecolumn1" class="col-md-1">Gruppe</th>
                        <th id="varecolumn2" class="col-md-1">Merke</th>
                        <th id="varecolumn3" class="col-md-4">Modell</th>
                        <th id="varecolumn4" class="col-md-2">Utsalgspris</th>   
                    </tr>
                </thead>

                <tbody id="varetabell">

                  <!--  function populateVareliste(liste) { } -->
                </tbody>

            </table>
        </div>
    </section>




{% include 'footer.html' %}

<!--                                    EVENTS                                                  -->
<!-- 1. BESTILL-knapp: 
                    <button id="bestillsubmit" onClick="sendBestilling()></button>              -->

<!-- 2. FJERN VARE-knapp: 
                    <div id="'+ row_ID +'delete" onClick="deleteVare(this)"></div>              -->

<!-- 3. Legg vare-knapp:
                    <tr class="eventlinje" id="' + div_id + '" onClick="AddVare(this.id)"></tr> -->

<!-- 4. SØK VARE-felt: 
                    <input id="searchfield" onkeyup="searchForString(this.value)">              -->

<!-- 5. On Document Load 
                    function(data) { populateVareliste(data.tabell) };                           -->



<script name="bestillingsscript" type="text/javascript" language="javascript">

    var varetabell = {{ varetabell | safe }};

    function autofyllButikk(){
        document.getElementById("inputnavn").value = "Stereo butikk";
        document.getElementById("inputtelefon").value = "56333902";
        document.getElementById("inputmail").value = "post@stereomusikk.com";
    }


    var total_verdi = 0;

    function sumBestilling() {
        total_verdi = 0;

        for (key in bestillingslinjer) {
            total_verdi += (bestillingslinjer[key][0] * bestillingslinjer[key][1]); 
        };
        $("#prislapp").text(String(total_verdi) + ",-");
    }


    function wrongAntalls(){

        for(var row in correct_antall)
            if (!correct_antall[row]) {
                return true;
            };
        return false;
    };


    var correct_antall = {};

    function updateAntall(antall, bestID, rowID) {

        if (isNaN(antall)) {
            correct_antall[rowID] = false;
            return 0;
        } else {
            correct_antall[rowID] = true;
            bestillingslinjer[bestID][1] = antall;
            sumBestilling();
        };
    };


    var r = 0;
    var g = 0; 
    var b = 0;
    var animeID = '';

    function fadeColor(ID){
        r = 128;
        g = 191; 
        b =  255;
        animeID = ID;
        old_color = document.getElementById(ID).style.backgroundColor;


        function fadeAnimation() {

            if (r <= 180 || g <= 220) { 
                document.getElementById(animeID).style.backgroundColor = 
                          'rgb('+ String(r) +', '+ String(Math.round(g)) +', ' + String(b) +')';
                r += 2;
                g += 1;

                window.setTimeout(fadeAnimation, 10);
            } else {
                document.getElementById(ID).style.backgroundColor = old_color;
            };
        };
        fadeAnimation();
    };


    var deleteID = '';
   
    function deleteVare(obj) {
        /*EVENT onClick() --> element <i></i>*/  /* FUNCTION REMOVES A VARELINJE FROM VAREORDREKORT*/
        deleteID = String(obj.id);
        IDvare = deleteID.replace('delete', '');

        delete bestillingslinjer[IDvare];
        $('#' + IDvare).remove();
        sumBestilling();
    };

    /* Andre variabler*/
    var vare_counter = 0;
    var true_ID = '';
    var telefon_check = '';

    /* Variabler som skal sendes til server*/
    var navn_bestiller = '';
    var kontakt_bestiller = '';
    var varer_bestilling = [];
    var verdi_bestilling = '';
    var antall_bestilling = 0;
    var signatur_bestilling = '';
    var kommentar_bestilling = '';

    function sendBestilling() {

        /* Nullstiller tidligere variabler -- event onClick() */
        varer_bestilling = [];
        antall_bestilling = 0;

        navn_bestiller = document.getElementById('inputnavn').value;
        telefon_check = document.getElementById('inputtelefon').value;
        signatur_bestilling = document.getElementById('inputsignatur').value;
        kontakt_bestiller = document.getElementById('inputtelefon').value + ", " +
                            document.getElementById('inputmail').value;
        kommentar_bestilling = document.getElementById('inputkommentar').value;
        verdi_bestilling = total_verdi;
  
        for (key in bestillingslinjer) {

            true_ID = key.replace("selected", "");
            varer_bestilling[vare_counter] = [true_ID, bestillingslinjer[key][1]];

            antall_bestilling += parseInt(bestillingslinjer[key][1]);
            vare_counter += 1;
        };       
        
        if (navn_bestiller === "" || kontakt_bestiller === "" || varer_bestilling.length < 1 || telefon_check.length != 8 || isNaN(telefon_check) || wrongAntalls()) {
            $("#bestwarning").remove();
            $("#vareordrekort").prepend('<h3 id="bestwarning" style="color:red;">Noe er galt med bestilingen. </h3>');

            return 0;
        } else {

            var newArray = [];
            function cleanArray(actual) {
            /* Only sends array members that actually contain information*/
                for (i = 0; i < actual.length; i++) {
                    if (actual[i]) {
                      newArray.push(actual[i]);
                    }
                }
                return newArray;
            }
            varer_bestilling = cleanArray(varer_bestilling);

            $.post("/postvareordre", {
                    'navn': String(navn_bestiller),
                    'kontakt': String(kontakt_bestiller),
                    'varer': String(varer_bestilling),
                    'verdi': String(verdi_bestilling),
                    'antall': String(antall_bestilling),
                    'signatur': signatur_bestilling,
                    'kommentar': kommentar_bestilling

                }, function(data){
                    if (data.result == 'success'){
                        window.location.assign('/varer');
                    } else {
                        console.log(data.result);
                    };
            });
        };
    };


    var nylinje = [];
    var row_color = '';
    var row_ID = '';
    var stykkpris = '';
    var row_columns = '';
    var best_row_count = 0;
    var bestillingslinjer = [];

    function AddVare(vareID) {
        /* FUNCTION ADDS A VARELINJE TO VAREORDREKORT*/ 
        /* LINJECOLOR SWITCHBOX*/

        if (best_row_count % 2 === 0){
            row_color = '#e6e6e6';
        } else {
            row_color = '#ffffff';
        };
        best_row_count += 1;
      
        /* Select columns from 'vareliste' in MySQL-db*/
        row_columns = '1,4,5,11'

        $.getJSON('/getvarelinje?columns='+ row_columns +'&ID=' + vareID, function(data){
            nylinje = data.linje;
            row_ID = "selected" + nylinje[0];
            stykkpris = nylinje[3];

            /* SKRIVE linje til HTML dokument*/
            if (bestillingslinjer.hasOwnProperty(row_ID)) {
                return 0;

            } else {
                fadeColor(vareID);
                /* Linjeelement with css styling*/
                $('#bestillingstabell').append('<tr id="' + row_ID +'">' + '</tr>');
                $('#' + row_ID).css({ 'background-color': row_color });

                /* Cell elements */ 
                $('#' + row_ID).append('<td>' + nylinje[0] + '</td>');

                $('#' + row_ID).append('<td>' + nylinje[1] + '</td>');

                $('#' + row_ID).append('<td>' + nylinje[2] + '</td>');

                $('#' + row_ID).append('<td>' +
                                         '<input id="antall'+row_ID+'" name="' + row_ID +'" class="form-control" '+
                                          'onkeyup="updateAntall(this.value, this.name, this.id)" value="1">' +
                                       '</td>')

                $('#' + row_ID).append('<td>' + nylinje[3] + 'kr</td>');
             
                $('#' + row_ID).append( '<td><div id="'+ row_ID +'delete" '+
                                        '" onClick="deleteVare(this)">'  +
                                        '<i class="fa fa-times" aria-hidden="true">'+
                                        '</i></div></td>');             
        
            };
            bestillingslinjer[row_ID] = [parseInt(nylinje[3]), parseInt(1)];
            sumBestilling();
        });
    };


</script>

<script name="vareliste_populate" type="text/javascript">


    function colorSwitchbox(counter) {
        /* ON/OFF SWITCHBOX for the row background color*/ 
        if (row_count % 2 === 0){
            return '#ffffff';
        } else {
            return '#e6e6e6';
        };
    };


    var row = '';
    var cell = '';
    var bryter = 0;
    var div_id = '';
    var row_count = 0;
    var row_color = '';

    function populateVareliste(tabell) {
        /* The general function for displaying an array of cells
            as vareliste */
        /* Prepare */
        searchLength = tabell.length;
        resultString = "Viser " + searchLength + " varer.";
        $("#sokeresult").text(resultString);
        $("#varetabell").empty();
        /* ---------- */

        for (i=0; i < tabell.length; i++) {
            row = tabell[i];

            for (j=0; j < row.length; j++){
                cell = row[j];

                switch(bryter) {
                    case 0:
                        div_id = cell;
                        $('#varetabell').append('<tr class="eventlinje" id="' + div_id + '" onClick="AddVare(this.id)">' + '</tr>');
                        row_color = colorSwitchbox(row_count);
                        $('#' + div_id).css({ 
                                'background-color' : row_color
                        });
                        row_count += 1;
                        bryter = 1;
                        break;
                    case 1:
                        $('#' + div_id).append('<td>' + div_id + '</td>');
                        bryter = 2;
                        $('#' + div_id).append('<td>' + cell + '</td>');
                        break; 
                    case 2:
                        $('#' + div_id).append('<td>' + cell + '</td>');
                        bryter = 3;
                        break;
                    case 3:
                        $('#' + div_id).append('<td>' + cell + '</td>');
                        bryter = 4;
                        break;
                    case 4:
                        $('#' + div_id).append('<td>' + cell + ' kr' + '</td>');
                        bryter = 0;
                        break;
                };
            };
        };
    };


    /* Choose which columns to load from 'vareliste' in MySQL-db*/

    var varer_columns = '1,7,4,5,11'

    $(document).ready(function() {

        $.getJSON('/getvareutvalg?columns=' + varer_columns, function(data) {
            
            populateVareliste(data.tabell);
        });

    }); 


    var searchLength = 0;

    function searchForString(string){

        $.getJSON('/getvareutvalg?string=' + string , function(data) {

            $("#varetabell").empty();
            
            populateVareliste(data.tabell);
        });
    };


    function generalSearch (sentence) {
        /* A function that searches any column in a 2d-array
          for any word in a string-sentence.*/
        var kwords = sentence.split(' ');
        var array = varetabell;
        var kwordsLength = kwords.length;

        var trimmedArray = [];
        var wordsCorrect = 0;
        var nextRow = false;

        /*Loop through rows*/
        for (i=0; i<array.length; i++){
            var row = array[i].toString().toUpperCase();

            for (j=0; j < kwordsLength; j++){
                if (row.indexOf(kwords[j].toUpperCase()) > -1){
                    wordsCorrect += 1;
                };
            };
            console.log("Correct: " + wordsCorrect + '| kwordsLength: ' + kwordsLength)
            if (wordsCorrect == kwordsLength){
                trimmedArray.push(array[i]);

            };
            wordsCorrect = 0;
        };

        populateVareliste(trimmedArray);
        /*return trimmmedArray;*/
    };


</script>

